[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait = "0.1.89"
serde = { version = "1.0.225", features = ["derive"] }
tokio = {version="1.47.1", features = ["sync"]}
